
<app-navbar></app-navbar>

<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b>LOGIN</b>
    </div>
    <div class="card-body p-4">
   
      <label style="float: left;">Email</label>
      <input class="form-control m-2" type="email" placeholder="Ingrese su email" [(ngModel)]="usuario.email">
      
      <label style="float: left;">Password</label>
      <input class="form-control m-2" type="password" placeholder="Password" [(ngModel)]="usuario.password">
      
      <button class="btn btn-primary btn-block m-2" (click)="ingresar()">Ingresar</button>
      <button *ngIf="userState==false" class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="ingresarConGoogle()"><img src="https://img.icons8.com/color/16/000000/google-logo.png">Ingresar con Google</button>
      <label>¿Aun no te has registrado? <a href="#">Registrarse</a></label>
      
      <div *ngIf="userLogged | async as user">
        <button class="btn btn-info m2" (click)="getLoggedUser()">Usuario Loggeado</button>
        <button class="btn btn-info m2" (click)="logOut()">Log Out</button>
      </div>
    </div>
  </div>
</div>
